* {
	margin: 0;
	padding: 0;
}
html {
	background-color:green;
}
.wrapper {
	height: 541px;
	width: 500px;
	background-color: black;
	margin: auto;
}
.block__white__1 {
	height: 47px;
	width: 117px;
	float: left;
	background-color: #FFFFFF;
}
.block__white__2 {
	height: 47px;
	width: 200px;
	float: left;
	background-color: #FFFFFF;
	margin-left: 10px;
}
.block__yellow__1 {
	height: 47px;
	width: 163px;
	float: left;
	background-color: #FFF34A;
	margin-left: 10px;
}
.block__yellow__2 {
	height: 127px;
	width: 163px;
	float: right;
	background-color: #FFF34A;
	margin-top: 10px;
}
.block__red {
	height: 268px;
	width: 270px;
	float: right;
	background-color: #FF5D38;
	margin-top: 10px;
	margin-right: 10px;
}
.block__white__3 {
	height: 130px;
	width: 47px;
	float: left;
	background-color: #FFFFFF;
	margin-top: 10px;
}
.block__white__4 {
	height: 199px;
	width: 47px;
	float: left;
	background-color: #FFFFFF;
	margin-top: 10px;
}
.block__white__5 {
	height: 130px;
	width: 78px;
	float: right;
	background-color: #FFFFFF;
	margin-top: -130px;
	margin-right: 85px;
}
.block__white__6 {
	height: 130px;
	width: 75px;
	float: right;
	background-color: #FFFFFF;
	margin-top: -130px;
}
.block__white__7 {
	height: 61px;
	width: 163px;
	float: right;
	background-color: #FFFFFF;
	margin-top: 10px;
}
.block__white__8 {
	height: 61px;
	width: 130px;
	float: right;
	background-color: #FFFFFF;
	margin-top: 10px;
	margin-right: 10px;
}

.block__black__1 {
	height: 61px;
	width: 60px;
	float: right;
	background-color: #1B2723;
	margin-top: 10px;
	margin-right: 10px
}
.block__black__2 {
	height: 61px;
	width: 60px;
	float: right;
	background-color: #1B2723;
	margin-top: 10px;
	margin-right: 10px;
}
.block__yellow__3 {
	height: 135px;
	width: 47px;
	float: left;
	background-color: #FFF34A;
	margin-top: 10px;
}
.block__black__3 {
	height: 61px;
	width: 60px;
	float: left;
	background-color: #1B2723;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
}
.block__black__4 {
	height: 61px;
	width: 60px;
	float: left;
	background-color: #1B2723;
	margin-top: 10px;
	margin-right: 10px;
}
.block__white__9 {
	height: 61px;
	width: 130px;
	float: left;
	background-color: #FFFFFF;
	margin-top: 10px;
	margin-right: 10px;
}
.block__blue {
	background-color: #024A89;	
	height: 95px;
	width: 163px;
	float: right;
	margin-top: 10px;
}
.block__white__10 {
	height: 64px;
	width: 130px;
	float: left;
	background-color: #FFFFFF;
	margin-top: 10px;
	margin-left: 10px;
}
.block__black__5 {
	height: 24px;
	width: 130px;
	float: left;
	background-color: #1B2723;
	margin-top: 10px;
	margin-left: 10px
}
.block__white__11 {
	height: 30px;
	width: 303px;
	float: right;
	background-color: #FFFFFF;
	margin-top: 10px;
}






